<section>
    <article>
        <div class="about-me-container">
            <img src="../../../assets/images/image_vladimir.webp" alt="Fotografía de Vladimir con fondo blanco" width="94px">
            <header>
                <h1>Vladimir Almonte Rodriguez</h1>
                <h1>Desarrollador Front-End Junior</h1>
            </header>
        </div>
        <p>
            Joven proactivo y altamente motivado, destacándose por el compromiso, diligencia y responsabilidad en
            diversas áreas. Además, beneficiario del sistema de Garantía Juvenil, lo que refuerza la dedicación y
            aspiración en el desarrollo como programador junior.
        </p>
    </article>

    <!-- <aside class="additional-information-container">
        <article>
            <header>
                <h3>Información Adicional</h3>
            </header>
            <ul>
                <li>Disponibilidad: Completa</li>
                <li>Incorporación: Inmediata</li>
                <li>Grado de discapacidad: 36, Auditivo</li>
            </ul>
        </article>

        <article>
            <header>
                <h3>Idiomas</h3>
            </header>
            <ul>
                <li>Español - Nativo</li>
                <li>Inglés - B1</li>
            </ul>
        </article>
    </aside> -->
</section>