.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 16px;

    img {
        aspect-ratio: 2/3;
        border-radius: var(--border-radius);
    }

    header {
        h1:first-child {
            background: none;
            background-clip: none;
            -webkit-text-fill-color: inherit;
        }
    }
}

.additional-information-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}