<nav class="navbar">
    <button class="filled-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false"
            style="pointer-events: none; display: block; width: 100%; height: 100%;">
            <path d="M21 6H3V5h18v1zm0 5H3v1h18v-1zm0 6H3v1h18v-1z"></path>
        </svg>
    </button>
    <header>
        <h1>
            Vladimir Almonte
        </h1>
    </header>
    <div class="link-container">
        <a href="#about-me">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#skills">Habilidades</a>
        <a href="#education">Educación</a>
        <a href="#fulfilled-project">Proyectos</a>
        <a href="#contact-me">Contactarme</a>
    </div>
</nav>