h1 {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    position: sticky;
    top: 0;

    background-color: var(--bg-color);
    padding-block: 1rem;
}

.link-container {
    display: inline;
}

.link-container a {
    padding: .75em;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-radius);
}

.link-container a:hover {
    transition: 200ms;
    transition-property: box-shadow, color;
    color: var(--primary-color);
    box-shadow: 0 3px 0 -1px var(--primary-color);
}

/* .link-container .active {
    background-color: var(--bg-color-link);
} */