<nav class="navbar">
    <button class="filled-btn sidebar-btn" (click)="toggleSidebar()">
        <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6H20M4 12H20M4 18H20" />
        </svg>
    </button>
    <header>
        <h1>
            Vladimir Almonte
        </h1>
    </header>
    <div class="link-container">
        <a href="#about-me">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#skills">Habilidades</a>
        <a href="#education">Educación</a>
        <a href="#fulfilled-project">Proyectos</a>
        <a href="#contact-me">Contactarme</a>
    </div>
</nav>

<nav class="sidebar" [ngClass]="{'active-sidebar': sidebar, 'inactive-sidebar': !sidebar}">
    <button class="filled-btn sidebar-btn" (click)="toggleSidebar()">
        <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6H20M4 12H20M4 18H20" />
        </svg>
    </button>
    <header>
        <h3>
            Vladimir Almonte
        </h3>
    </header>
    <div class="link-container sidebar-link-container">
        <a href="#about-me">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#skills">Habilidades</a>
        <a href="#education">Educación</a>
        <a href="#fulfilled-project">Proyectos</a>
        <a href="#contact-me">Contactarme</a>
    </div>
</nav>