h1 {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    position: sticky;
    top: 0;

    background-color: var(--bg-color);
    padding-block: .5rem;
}

.link-container {
    display: flex;
    flex-direction: row;
}

.link-container a {
    padding: .64em;
    font-weight: bold;
    border-radius: var(--border-radius);
    /* box-sizing: border-box; */
}

.link-container a:hover {
    transition: var(--transition-time);
    transition-property: box-shadow, color;
    color: var(--primary-color);
    box-shadow: 0 3px 0 -1px var(--primary-color);
}

/* .link-container .active {
    background-color: var(--bg-color-link);
} */