.card-education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1em;
}

h1 {
    margin-top: 0;
    text-align: center;
}

h1:last-child {
    background: none;
    background-clip: none;
    -webkit-text-fill-color: inherit;
}

h1+h1 {
    margin-bottom: 0;
}