<navbar-component></navbar-component>

<main>
    <about-me-component id="about-me"></about-me-component>

    <experiences-component id="experience"></experiences-component>

    <skills-component id="skills"></skills-component>

    <educations-component></educations-component>

    <fulfilled-project-component id="fulfilled-project"></fulfilled-project-component>

    <!-- <contact-me-component></contact-me-component> -->
</main>

<footer-component></footer-component>

<router-outlet></router-outlet>