form {
    display: flex;
    flex-direction: column;
    align-items: center;


}

form div {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: inherit;
    transition: var(--transition-time);
    border: none;
    outline-color: oklch(var(--primary-color));
    outline-style: solid;
    outline-width: 2px;
}

input:focus-visible,
textarea:focus-visible {
    border-radius: var(--border-radius-inverted);
    outline-color: oklch(var(--accent-color))
}


