<section aria-label="Contacta conmigo">
    <legend>
        <h2>
            Contactarme
        </h2>
    </legend>

    <form [formGroup]="contactMeForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Nombre:
                <input type="text" name="name" id="name-form" placeholder="Nombre" formControlName="name"
                    [class.invalid]="validating('name')">
                @if (hasRequiredError('name')) {
                <span class="error">Este campo es requerido</span>
                }
            </label>

            <label for="email">Email:
                <input type="email" name="email" id="email-form" placeholder="Correo" formControlName="email"
                    [class.invalid]="validating('email')">
                @if (hasRequiredError('email')) {
                <span class="error">Este campo es requerido</span>
                }@else if (this.contactMeForm.get('email')?.hasError('email')) {
                <span class="error">Este campo es un correo, necesita el símbolo {{"@"}}</span>
                }
            </label>

            <label for="message">Mensaje:
                <textarea name="message" id="message-form" cols="30" rows="10" placeholder="Mensaje"
                    formControlName="message" [class.invalid]="validating('message')"></textarea>
                @if (hasRequiredError('message')) {
                <span class="error">Este campo es requerido</span>
                }
            </label>

            <button class="filled-btn">
                Enviar mensaje
            </button>
        </div>
    </form>
</section>

<dialog #notSendedMessageDialog>
    <p>No se ha podido enviar el mensaje, puede ser por que ya has enviado un mensaje o porque ha habido un error al
        tratar de enviarlo. Gracias</p>
    <form method="dialog">
        <button class="filled-btn">Aceptar</button>
    </form>
</dialog>

<dialog #sendedMessageDialog>
    <p>Mensaje enviado. Gracias</p>
    <form method="dialog">
        <button class="filled-btn">Aceptar</button>
    </form>
</dialog>