form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        label {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}


.invalid {
    outline-color: oklch(var(--error-color));
}

.error {
    margin-top: 10px;
    color: oklch(var(--error-color));
    background-color: oklch(var(--error-color) / 20%);
    border-radius: var(--border-radius);
    border: solid oklch(var(--error-color)) 2px;
    padding: .5em;
}