/* .skill-article{
    background-color: antiquewhite;
} */

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 78px;
    padding: .4em;
    max-height: 120px;
}

.skill-card:hover {
    transition-duration: var(--transition-time); 
    transition-property: box-shadow;
    box-shadow: 0px 2px 10px 1px hsla(0, 0%, 50%, 0.4);
}

.skill-card h4 {
    text-align: center;
    margin-block: .45em;
}

.skill-card img {
    width: 64px;
}