/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'League Spartan';
    src: url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.eot');
    src: url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.woff2') format('woff2'),
        url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.woff') format('woff'),
        url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.svg#LeagueSpartan-Medium') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: #FFF;
    --bg-color: #000205;
    --bg-color-card: hsla(0, 0%, 50%, 0.15);
    --bg-color-link: hsla(0, 0%, 50%, 0.2);
    --primary-color: #F42D19;
    --secondary-color: #35D83A;
    --accent-color: #CA2149;

    --border-radius: 5px 20px 5px 20px;
    --border-radius-inverted: 20px 5px 20px 5px;
    --transition-time: 200ms;
    --navbar-padding: .5rem;
}

:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--accent-color);
}

* {
    color: var(--text-color);
    font-family: 'League Spartan', sans-serif;
    line-height: 1.12;
    letter-spacing: .03em;
}

body {
    background-color: var(--bg-color);
    margin: 0;

    main {
        margin: 0 auto;
        max-width: 868px;
        padding-inline: 16px;
    }

    a {
        text-decoration: none;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.background-color-card {
    background-color: var(--bg-color-card);
    border-radius: var(--border-radius);
}

.filled-btn {
    border: none;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    transition: var(--transition-time);
}

.filled-btn:hover,
.filled-btn:focus-visible {
    border-radius: var(--border-radius-inverted);
}

@keyframes sidebar-anim-open {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* !No se está usando por el momento, hay que poder usarlo */
@keyframes sidebar-anim-close {
    0% {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-200px);
        display: none;
    }
}