/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'League Spartan';
    src: url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.eot');
    src: url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.woff2') format('woff2'),
        url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.woff') format('woff'),
        url('assets/fonts/LeagueSpartan/LeagueSpartan-Medium.svg#LeagueSpartan-Medium') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: #fff;
    --bg-color: hsl(120, 100%, 1%);
    --primary-color: oklch(84.12% 0.345 145.06);
    --secondary-color: oklch(92.94% 0.2252 103.77);
    --accent-color: oklch(94.11% 0.1904 115.77);

    --bg-color-card: hsla(0, 0%, 50%, 0.15);
    --bg-color-link: hsla(0, 0%, 50%, 0.2);
    --shadow-color: oklch(84.12% 0.345 145.06 / 50%);

    --border-radius: 5px 20px 5px 20px;
    --border-radius-inverted: 20px 5px 20px 5px;
    --transition-time: 200ms;
    --navbar-padding: .5rem;
    --navbar-height: 57px;
}

:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--accent-color);
}

* {
    color: var(--text-color);
    font-family: 'League Spartan', sans-serif;
    line-height: 1.12;
    letter-spacing: .03em;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    margin: 0;

    main {
        margin: 0 auto;
        max-width: 868px;
        padding-inline: 16px;

        [id] {
            scroll-margin-top: var(--navbar-height);
        }
    }

    a {
        text-decoration: none;
    }
}

h1,
h2,
h3 {
    background: linear-gradient(to bottom right in oklab, var(--primary-color), var(--secondary-color)) fixed;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.background-color-card {
    background-color: var(--bg-color-card);
    border-radius: var(--border-radius);
}

.filled-btn {
    border: none;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    transition: var(--transition-time);
    color: black;

    svg path {
        color: black;
    }
}

.filled-btn:hover,
.filled-btn:focus-visible {
    border-radius: var(--border-radius-inverted);
}

@keyframes sidebar-anim-open {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* !No se está usando por el momento, hay que poder usarlo */
@keyframes sidebar-anim-close {
    0% {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-200px);
        display: none;
    }
}