article {
    padding: .8rem;
    max-width: 386px;
}

a {
    display: flex;
    align-items: center;
    color: oklch(var(--accent-color))
}

a svg path {
    color: oklch(var(--accent-color))
}

svg {
    width: 1em;
    margin-left: .2em;
}

header {
    display: flex;
    justify-content: space-between;

    h3 {
        margin: 0;
    }
}


/* .chips-container{
    display: flex;
} */

.cards-container {
    gap: 5px;
}

.chip {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: hsla(0, 0%, 85%, 0.5);
    border-radius: var(--border-radius);
    padding-block: .45em;
    padding-inline: .9em;
}