article {
    padding: .8rem;
    max-width: 386px;
}

a {
    display: flex;
    align-items: center;
    color: var(--accent-color);
}

a svg path{
    color: var(--accent-color);
}

svg {
    width: 1em;
    margin-left: .2em;
}

header {
    display: flex;
    justify-content: space-between;
}

header h3 {
    margin: 0;
    color: var(--primary-color);
}

/* .chips-container{
    display: flex;
} */

.chip {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: hsla(0, 0%, 85%, 0.5);
    border-radius: var(--border-radius);
    padding-block: .45em;
    padding-inline: .9em;
}

.chip+.chip {
    margin-left: .3em;
}