.project-card {
    padding: .8rem;

    header {
        display: flex;
        justify-content: space-between;

        h3 {
            margin: 0;
        }

        a {
            display: flex;
            align-items: center;
            color: oklch(var(--accent-color));
            padding: .3em;
            border-radius: var(--border-radius);
            transition: var(--transition-time);

            &:hover {
                outline-color: oklch(var(--accent-color));
                outline-style: solid;
                outline-width: 2px;
                outline-offset: 4px;
            }

            &:focus-visible {
                border-radius: var(--border-radius-inverted);
            }

            svg {
                width: 1em;
                margin-left: .2em;

                path {
                    color: oklch(var(--accent-color))
                }
            }
        }
    }
}

.chip {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: hsla(0, 0%, 85%, 0.5);
    border-radius: var(--border-radius);
    padding-block: .45em;
    padding-inline: .9em;
    outline-style: solid;
    outline-width: thin;
}